.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-color);
  font-family: var(--main-font, Arial), sans-serif;
  background-color: var(--main-background);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-main);
  padding-top: 100px;
}

.header {
  border: 2px solid currentColor;
  padding: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", monospace;
  gap: 8px;
}

.header--width {
  width: var(--width-value);
}

.header__logo {
  padding-top: 21px;
  margin-bottom: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  padding-bottom: 23px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 14px;
  text-transform: uppercase;
}

.main {
  padding-top: 100px;
  display: grid;
  gap: 49px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border: 2px solid var(--main-color);
}

@supports (-webkit-text-stroke: 1px var(--outline-color)) {
  .image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--outline-color);
  }
}

.image-text {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000,
    1px -1px 0 #000, -1px -1px 0 #000;
  position: absolute;
  top: 27px;
  right: 27px;
  height: 14px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
  background-color: var(--main-background);
}

.mobile-break {
  display: none;
}

.article__title {
  text-align: start;
  padding: 6px 11px 4px 12px;
  font-family: var(--main-font, Arial), sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.article__text {
  display: block;
  padding: 27px;
  font-family: var(--main-font, Arial), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight-main);
  text-align: start;
}

.article__text:nth-child(2n) {
  padding-top: 0;
}

.card {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  margin: -2px 27px 27px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color);
  transition: border-color 0.3s ease, box-shadow var(--transition-time) ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  padding-top: 4px;
}

.button__text {
  position: relative;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-button);
  font-family: var(--accent-font, "VT323"), monospace;
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  max-height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.floppy-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  min-width: 310px;
  min-height: 86px;
  background-color: var(--main-background);
}

.icon-floppy {
  z-index: 2;
  width: 21px;
  height: 21px;
  color: var(--text-color-button);
  mix-blend-mode: difference;
}

@media (max-width: 375px) {
  .floppy-button .icon-floppy {
    width: 28px !important;
    height: 28px !important;
  }
}

.icon-floppy.diskette-large {
  width: 39px !important;
  height: 39px !important;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--icon-hover-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--icon-hover-color);
  animation: scaleHeart 0.3s ease-in 0s both;
}

.like-icon:active .main-body {
  fill: var(--color-icon);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--color-icon);
  animation: scaleHeart 0.3s ease-in 0s both;
}

.like-icon.is-liked {
  transition: fill 0.3s ease;
  animation: scaleHeart 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .main-body {
  fill: var(--color-icon);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-icon);
}

.like-icon.is-liked .contour {
  fill: var(--color-icon);
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flashSparks 0.3s ease-in 0.3s both;
}

.like-icon:not(.is-liked) .contour {
  transition: stroke 0.1s linear;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
}

.dialog {
  position: fixed;
  inset: 0;
  max-width: 341px;
  border: 2px solid var(--main-color);
  background: var(--main-background);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.columns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.ok-button {
  min-width: 257px;
  min-height: 38px;
  padding-top: 5px;
  text-transform: uppercase;
}

.columns__text {
  max-width: 65%;
  color: var(--main-color);
  font-family: var(--accent-font, "VT323"), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.icon-floppy-dialog {
  color: var(--icon-hover-color);
}

@media (min-width: 376px) {
  .header {
    align-self: center;
    max-width: 700px;
  }

  .header__title {
    padding-bottom: 30px;
  }

  .header__logo {
    padding-top: 26px;
  }

  .main {
    align-self: center;
    max-width: 700px;
  }

  .article__title {
    padding: 5px 15px 5px 12px;
  }

  .floppy-button {
    display: flex;
    flex-direction: row;
    min-width: 339px;
    min-height: 54px;
  }

  .dialog {
    max-width: 357px;
  }

  .dialog-content {
    gap: 30px;
  }

  .columns {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    padding: 15px 0 0 13px;
  }

  .ok-button {
    min-width: 293px;
    min-height: 38px;
    padding-top: 5px;
  }

  .columns__text {
    max-width: 90%;
    text-align: left;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 97px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .header__logo {
    font-size: 49px;
    margin: 0;
  }

  .header__title {
    padding-top: 14px;
    font-size: 14px;
    line-height: 14px;
  }

  .mobile-break {
    display: inline;
  }

  .image {
    min-width: 100%;
    max-width: 371px;
    min-height: auto;
    object-fit: cover;
  }

  .image-text {
    right: 13px;
  }

  .icon-floppy {
    width: 39px;
    height: 39px;
  }
}